@tailwind base;

@tailwind components;
/*
*   transitions to scale and grow an item (card)
*/
.transition-grow-shadow {
    @apply shadow-md transition ease-out duration-500 transform;
}

.transition-grow-shadow:hover {
    @apply shadow-2xl;
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
}

/*  Input-Base: 
 *    Styling for form input fields
 */
.input-base {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight; 
}
.input-base:focus {
    @apply outline-none shadow-outline;
}

/*  Btn-Teal: 
 *   button styling for forms, hover to change color, and focus to outline 
 */
.btn-teal {
    @apply bg-teal-500 text-white font-bold py-2 px-3 rounded;
}
.btn-teal:hover {
    @apply bg-teal-700;
}
.btn-teal:focus {
    @apply outline-none shadow-outline;
}

/*  Header-Style 
 *    page headers
 */
.header-style {
    @apply font-semibold text-3xl py-4 text-teal-600 tracking-wider;
}

/*  Nav-Link:
 *    nav link styling
 */
.nav-link {
    @apply py-2 px-4 text-teal-500 font-semibold;
}
.nav-link:hover {
    @apply text-teal-800;
}
.nav-link:focus {
    @apply outline-none;
}

/*  Loaders:
 *    css render and animation for loading spinner (from w3schools example)
 */
.page_loader {
    border: 2rem solid #cecfd1; /* Light grey */
    border-top: 2rem solid #38b2ac; /* Teal */
    border-radius: 15rem;
    width: 15rem;
    height: 15rem;
    animation: spin 2s linear infinite;
    opacity: 0.3;
}

.loader {
    border: .5rem solid #cecfd1; /* Light grey */
    border-top: .5rem solid #38b2ac; /* Teal */
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@tailwind utilities;
